# Azure OpenAI Configuration
AZURE_OPENAI_API_KEY=azure_key
AZURE_OPENAI_ENDPOINT=endpoint
AZURE_OPENAI_API_VERSION=2024-05-01-preview
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4o

# Whisper model name (no separate API key needed)
WHISPER_DEPLOYMENT_NAME=whisper

# Temporary file storage
TEMP_DIRECTORY=temp 